<form action="/add" method="POST">
  	<div>
    	<input name="name" placeholder="name" type="text"/>
    </div>
  	<div>
    	<input name="phonenumber" placeholder="phonenumber" type="string"/>
	</div>
  	<button type="submit">ADD!</button>
 </form>