<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div>
		<h1>靖軒小屋</h1>
		<ul class="nav nav-tabs">
	        <li><a href="/">相片列表</a></li>
	        <li><a href="/uploadpicture">上傳相片</a></li>
	        <li><a href="/articles">文章列表</a></li>
	        <li class="active"><a href="/uploadarticle">上傳文章</a></li>
	    </ul>
	</div>
	<div>
		<form action="/updatearticle/{{data.id}}" method="POST">
			<div>
    			<input name="theme" placeholder="主題" type="string" value={{data.theme}}>
			</div>
  			<div>
    			<textarea name="essay" placeholder="文章" type="string" rows="20" cols="80">{{data.essay}}</textarea> 
			</div>
  			<button type="submit">UPDATE!</button>
 		</form>
	</div>
</body>